form {
    height: 50vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 5px;

    p {
      color: wheat;
      font-family: Roboto;
    }

    h1 {
        text-align: center;
        color: wheat;
        font-family: "Roboto";
    }

    .content-form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .input-email,.input-password,.input-pseudo {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                color: wheat;
            }

            input {
                outline: none;
                background: none;
                border: none;
                border-bottom: 1px solid black;
                color: white;
            }
        }
      .input-submit {
        height: 120%;
        button {
          width: 100%;
          background: black;
          border: none;
          color: white;
          height: 40px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: scale(1.02);
          }
          &:disabled {
            background: rgba(0, 0, 0, 0.57);
            cursor: not-allowed;
          }
        }
      }
    }
}
