header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #353b48;

    h1 {
        color: wheat;
        font-family: "Roboto";
    }

    .header-connect {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            a {
                color: wheat;
                font-family: "Roboto";
            }
        }

    }
}