<header>
    <h1>My library</h1>
    <div class="header-connect">
        <ul *ngIf="!authService.login">
            <li><a routerLink="login">Login</a></li>
            <li><a routerLink="register">Register</a></li>
        </ul>
        <ul *ngIf="authService.login">
          <li><a disabled="true">{{authService.pseudo}}</a></li>
          <li *ngIf="authService.staff"><a routerLink="admin">admin</a></li>
          <li><a (click)="handleLogout()">Déconnexion</a></li>
        </ul>
    </div>
</header>
