.admin-users-container {
  padding: 15px;

  .admin-users-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .admin-user-item {
      padding: 15px;
      background: #353b48;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;

      p {
        color: white;
        text-align: center;
        font-family: Roboto;
      }

      .action-user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
