

*,::before,::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

  &:hover {
    color: wheat !important;
  }
}

html, body { height: 100vh;  background-color: #2f3640 !important;overflow-y: hidden !important;}


.error {
  color: red !important;
}

.success {
  color: green !important;
}
